{
  "presets": ["env", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-runtime", {"polyfill": false, "regenerator": true}],
    ["transform-imports", {
      "react-md": {
        "transform": "../../react-md-transform.js",
        "preventFullImport": true
      },
    }],
  ]
}
