@import 'react-md/src/scss/react-md';
@include react-md-everything;

.page-content {

    margin: auto;

    @media screen and (min-width: $md-tablet-min-width) {
        padding: $md-default-padding * 2;
    }

    @media screen and (min-width: $md-desktop-min-width) {
        max-width: $md-desktop-min-width;
    }

}