@import 'react-md/src/scss/react-md';
@include react-md-everything;


.profile-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 320px;
    position: relative;

    &--close-button {
        position: absolute;
        left: $md-default-padding;
        top: $md-default-padding;
    }

    &--header {
        background: get-color('toolbar', true);
        text-align: center;
        padding: $md-default-padding;

        .md-headline {
            padding-top: $md-default-padding;
        }
    }

    &--body {
        padding-top: 4px;
    }

    &.md-drawer {
        left: auto;

        @media screen and (min-width: $md-mobile-min-width) and (max-width: $md-tablet-min-width) {
            left: 0;
        }
    }
}